h1 {text-align:center; color:#005eb8;}
h2{color:grey;}
h3{color:grey;}
p {color:grey;}
ul {color:grey;}
li{color:grey}
q {color:dodgerblue}

#confidenceLine {font-size: smaller;text-align: center;}
#theme {font-size:medium;}
.listTitles {font-weight: bold;}